option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    APP_ENV: "dev"
    WEB_CONCURRENCY: 1

  aws:elasticbeanstalk:command:
    Timeout: 1000

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/ping"
    MatcherHTTPCode: "200-499"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true

  aws:autoscaling:launchconfiguration:
    RootVolumeType: "gp2"
    RootVolumeSize: 18
